
.DS_Store
nvim/.config/nvim/lazy-lock.json
mpd/.mpd/mpd.log
mpd/.mpd/mpd.pid
mpd/.mpd/mpdstate
newsboat/.newsboat/cache.db
refs
objects
logs
info/exclude
COMMIT_EDITMSG
FETCH_HEAD
HEAD
ORIG_HEAD
description
config
index
packed-refs
texput.log
